<div>
  <label>Select Id To Get Data:</label>
  <select [(ngModel)]="selectedLevel" (change)="selected()"> 
   <option  *ngFor="let item of data" [ngValue]="item"> 
     {{item.name}}
    </option>
    </select>
  <br>
  <button (click)="getusers()">Users</button><br><br>
</div>
  <table border="1" >
  <!-- <tr>
        <th>ID</th>
        <th>Email</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Avtar</th>
        
  </tr> -->
  <tr>
    <td>ID</td>
    <td>Email</td>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Avatar</td>
    </tr>
    <td>
       <tr *ngFor="let user of allusers">{{user.id}} </tr>
      
    </td>
    <td>
      <tr *ngFor="let user of allusers">{{user.email}}</tr>
    </td>
    <td>
      <tr *ngFor="let user of allusers">{{user.first_name}}</tr>
    </td>
    <td>
      <tr *ngFor="let user of allusers">{{user.last_name}}</tr>
    </td>
    <td>
      <tr *ngFor="let user of allusers">{{user.avatar}}</tr>
    </td>
  </table>

<!-- <div>
  <button (click)="removeitem()">Remove Item</button>
</div> -->
 
