<div>
  <label>Select Id To Get Data:</label>
  <select [(ngModel)]="selectedLevel" (change)="selected()"> 
   <option  *ngFor="let item of data" [ngValue]="item"> 
     {{item.name}}
    </option>
    </select>
  <br>
  <button (click)="getusers()">Users</button><br><br>
</div>
  <table border="1" >
 
  <tr>
    <td>ID</td>
    <td>Email</td>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Avatar</td>
    </tr>
     
     <div *ngFor="let user of allusers">
       <tr>{{user.id}}</tr>
       <tr>{{user.email}}</tr>
       <tr>{{user.first_name}}</tr>
       <tr>{{user.last_name}}</tr>
       <tr>{{user.avatar}}</tr>
       <button (click)="deleteperson(user.id)">Delete</button>
     </div>
</table>


